numpy>=1.15.4
pandas
DendroPy==4.4
biopython
pytest
git+https://github.com/mkandziora/phylogenetic_concatenation.git#egg=Concat
git+https://github.com/mkandziora/ncbiTAXONparser.git#egg=ncbiTAXONparser
