numpy==1.15.4
pandas
DendroPy
biopython
pytest
-e git://github.com/mkandziora/phylogenetic_concatenation.git#egg=phylogenetic_concatenation
-e git://github.com/mkandziora/ncbiTAXONparser.git#egg=ncbiTAXONparser
